---
import { Image } from "astro:assets";

interface Props {
    title: string;
    subtitle: string;
    body: string;
    cv_text: string;
    cv_link: string;
    about_text: string;
    about_link: string;
}

const { title, subtitle, body, cv_text, cv_link, about_text, about_link } =
    Astro.props;
---

<main class="flex-1 w-full grid place-content-center p-4">
    <section
        class="max-w-screen-xl flex flex-col lg:flex-row bg-white rounded-2xl shadow-md overflow-hidden gap-8 lg:gap-0 lg:justify-between"
    >
        <div
            class="grid place-content-center lg:border-l-custom-redLight lg:border-b-custom-redLight lg:border-l-8 lg:border-b-8 lg:w-1/2"
        >
            <Image
                class="flex object-contain object-center mx-auto w-96 lg:w-auto max-w-lg"
                src="/images/yo.webp"
                alt="A photo of me"
                width="10"
                height="10"
                decoding="async"
            />
        </div>
        <div class="flex flex-col justify-center lg:max-w-xl px-6 gap-2 lg:border-r-custom-redLight lg:border-t-custom-redLight lg:border-r-8 lg:border-t-8 lg:w-1/2">
            <div
                class="flex flex-col items-center text-2xl lg:text-2xl text-custom-redLight"
            >
                <h1 class="font-bold">{title}</h1>
                <h2 class="text-black font-semibold text-base">{subtitle}</h2>
            </div>
            <div class="flex flex-col pb-8 gap-3 text-gray-700">
                <div class="max-w-xl flex p-2">
                    <p class="text-left">{body}</p>
                </div>
                <div
                    class="flex xs:flex-row-reverse xs:justify-center gap-x-6 sm:gap-x-10"
                >
                    <a
                        href={about_link}
                        class="self-start rounded-3xl text-xs sm:text-sm border-2 border-custom-redLight py-2 pl-2 pr-0"
                    >
                        {about_text}
                        <span
                            class="arrow-container bg-custom-redLight hover:opacity-95 p-3 rounded-full"
                        >
                            <svg
                                class="arrow w-5 inline-block fill-white"
                                viewBox="0 -960 960 960"
                                ><path
                                    d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"
                                ></path>
                            </svg>
                        </span>
                    </a>
                    <a
                        href={cv_link}
                        download
                        class="hidden xs:block self-start text-xs sm:text-sm rounded-3xl border-2 border-custom-redLight py-2 pl-2 pr-0"
                        >{cv_text}
                        <span
                            class="bg-custom-redLight hover:opacity-95 p-3 rounded-full"
                        >
                            <svg
                                class="w-5 inline-block fill-white"
                                viewBox="0 -960 960 960"
                                ><path
                                    d="M480-320 280-520l56-58 104 104v-326h80v326l104-104 56 58-200 200ZM240-160q-33 0-56.5-23.5T160-240v-120h80v120h480v-120h80v120q0 33-23.5 56.5T720-160H240Z"
                                ></path></svg
                            >
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<style>
    .arrow {
        transition: translate 0.7s;
    }
    .arrow-container:hover .arrow {
        translate: 3px 0;
    }
</style>
