---
import ProjectSkill from "./Skill.astro";

interface Props {
    project: Project;
}

const { title, body, image, repository, preview, skills } = Astro.props.project;
---

<article class="flex max-w-5xl flex-col md:flex-row gap-10 w-full">
    <img
        class="md:max-w-2xl w-full md:w-[45%] md:self-start object-contain object-center rounded-md"
        src={image}
        alt="Project image"
    />
    <div class="flex flex-col items-start gap-3">
        <div class="flex flex-col text-left gap-3">
            <h2
                class="text-3xl font-bold leading-tight text-gray-900 dark:text-white text-balance"
            >
                {title}
            </h2>
            <p
                class="text-lg font-normal text-gray-500 text-pretty"
            >
                {body}
            </p>
        </div>
        <div class="grid grid-cols-6 gap-2">
            {skills.map((skillData) => <ProjectSkill skillData={skillData} />)}
        </div>
        <div class="flex gap-3">
            <div>
                <a
                    href={repository}
                    target="_blank"
                    title="Link to the repository"
                    class="text-white bg-black justify-center inline-flex items-center focus:ring-4 focus:outline-none focus:ring-black focus:ring-opacity-80 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                >
                    <img
                        class="size-5 mr-2"
                        src="../../svgs/github.svg"
                        alt="Github logo"
                    />
                    Repository
                </a>
            </div>
            {
                () => {
                    if (preview) {
                        return (
                            <div>
                                <a
                                    href={preview}
                                    target="_blank"
                                    title="Link to the repository"
                                    class="text-white bg-primary-700 justify-center inline-flex items-center focus:ring-4 focus:outline-none focus:ring-primary-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                                >
                                    <img
                                        class="size-5 mr-2"
                                        src="../../svgs/open_in_new.svg"
                                        alt="Open in new logo"
                                    />
                                    Live preview
                                </a>
                            </div>
                        );
                    }
                }
            }
        </div>
    </div>
</article>
